<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Shrike Lab</title>
    <script src='https://www.x3dom.org/download/x3dom.js'> </script>
    <!-- <link rel='stylesheet' type='text/css' href='https://www.x3dom.org/download/x3dom.css'/> -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
</head>

<body>
    <div class="header">
        <img id="header-image2" src="{% static '/resources/harvard_bwh.png' %}" alt="Logo1">
        <h1>Volumetric Bioprinting</h1>
        <img id="header-image1" src="{% static '/resources/shrike_logo.png' %}" alt="Logo2">
    </div>
    <div class="x3d-container">
        <x3d width='800px' height='600px' class="canvas_three_d">
            <scene>
                <Inline url="embryo.x3d" id="threed"> </Inline>
            </scene>
        </x3d>
    </div>
    <div class="container">
        <!-- <div id="model-container">
            
            <script type="text/javascript" src="{% static 'js/three.js' %}"></script>
        </div> -->
        <form id="uploadForm" enctype="multipart/form-data" method="post">
            <button id="VoxelButton" type="submit">Voxel STL</button>
            <input type="file" id="file-upload" accept=".stl" name="stl" onchange="validateFileSize()" /><br />
            <input type="range" id="resolution" min="2" max="500" style="display: inline-block;">
            <p style="display: inline-block; color: white;" id="res-value"></p>
            {{ form.captcha }}
        </form>
    </div>

    <!-- django CSRF token configuration -->
    {% csrf_token %}
    <script>
        window.csrfToken = "{{ csrf_token }}";
    </script>
    <script src="{% static '/js/app.js' %}"></script>
</body>

</html>