<!-- 
    Made with <3 by:
    - Armando Patines Martínez
    - Rodrigo 
    - Eduardo de Valle
-->

<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>VAMProject</title>
    <script src='https://www.x3dom.org/download/x3dom.js'> </script>
    <link rel='stylesheet' type='text/css' href='https://www.x3dom.org/download/x3dom.css'/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'assets/shrike_logo.png' %}">
</head>

<body>
    <div class="header">
        <img id="header-image2" src="{% static 'assets/harvard_bwh.png' %}" alt="Harvard BWH logo">
        <h1>Volumetric Bioprinting</h1>
        <img id="header-image1" src="{% static 'assets/shrike_logo.png' %}" alt="Shrike Zhang Laboratory logo">
    </div>
    <div class="x3d-container">
        <x3d width='800px' height='600px' class="canvas_three_d">
            <scene id="threed-scene">
                <Inline url="{% static 'embryo.x3d' %}" id="threed"> </Inline>
            </scene>
        </x3d>
    </div>
    <div class="container">
        <!-- <div id="model-container">
            
            <script type="text/javascript" src="{% static 'js/three.js' %}"></script>
        </div> -->
        <form id="uploadForm" enctype="multipart/form-data" method="post">
            <div style="text-align: center; margin: 0 auto; display: flex; flex-direction: column; align-items: center;">
                <button id="VoxelButton" type="submit">Voxel STL</button>
                <input type="file" id="file-upload" accept=".stl" name="stl" onchange="validateFileSize()" /><br />
                <div style="text-align: center; margin-top: 20px; margin-bottom: 10px;">
                    <span style="color: white; font-weight: bold;">Resolution:</span>
                    <span style="display: inline-block; color: white; padding-left: 5px;" id="res-value">250</span>
                </div>
                <input type="range" id="resolution" min="2" max="500" style="display: inline-block; margin-bottom: 20px; width: 80%;">
            </div>
            <!-- {{ form.captcha }} -->
        </form>
    </div>

    <!-- django CSRF token configuration -->
    {% csrf_token %}
    <script>
        window.csrfToken = "{{ csrf_token }}";
    </script>
    <script src="{% static '/js/app.js' %}"></script>
</body>

</html>